{% extends "base.html" %}
{% block title %}Comprobante{% endblock %}
{% block content %}

<div class="form-card">
  {% if equipo %}
    <h2>Comprobante de entrega</h2>
    <p><strong>Cliente:</strong> {{ equipo.nombre }}</p>

    {% if equipo.estudiante %}
      <p><strong>Estudiante:</strong> {{ equipo.estudiante }}</p>
    {% endif %}

    <p>
      <strong>Estado:</strong> 
      <span 
        {% if equipo.estado == "entregado" %} style="color: green; font-weight: bold;" 
        {% else %} style="color: red; font-weight: bold;" 
        {% endif %}>
        {{ equipo.estado }}
      </span>
    </p>

    <p><strong>Observaciones:</strong> {{ equipo.observaciones }}</p>
    <p><em>Gracias por confiar en la Clínica PC</em></p>
  {% else %}
    <p>No se encontró información del comprobante.</p>
  {% endif %}

  <a href="{% url 'protected' %}" class="btn">Volver al menú</a>
</div>

{% endblock %}