<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Clínica PC{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <!--  Franja superior -->
  <div class="top-bar">
    <div class="left-section">
      <img src="{% static 'img/logo-inacap.png' %}" alt="Logo Inacap">
      {% if user.is_authenticated %}
        <span>Hola, {{ user.nombre_completo }}</span>
      {% endif %}
    </div>

    {% if user.is_authenticated %}
      <div class="right-section">
        {% if user.rol == "admin" %}
          <a href="{% url 'registrar_equipo' %}">Recepción</a>
          <a href="{% url 'diagnostico_listado' %}">Diagnóstico</a>
          <a href="{% url 'verificar_equipo' %}">Entrega</a>

        {% elif user.rol == "tecnico" %}
          <a href="{% url 'diagnostico_listado' %}">Diagnóstico</a>

        {% elif user.rol == "recepcion" %}
          <a href="{% url 'registrar_equipo' %}">Recepción</a>
          <a href="{% url 'verificar_equipo' %}">Entrega</a>
        {% endif %}

        <a href="{% url 'logout' %}" class="logout">Cerrar sesión</a>
      </div>
    {% endif %}
  </div>

  <!-- Contenido central -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <!-- Franja inferior -->
  <div class="bottom-bar"></div>
</body>
</html>