{% extends "base.html" %}
{% block title %}Evaluar equipo{% endblock %}
{% block content %}
<div class="form-card">
  <h2>Evaluar equipo</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="margin-top: 15px;">
      <button type="submit" class="btn">Guardar</button>
      <a href="{% url 'diagnostico_listado' %}" class="btn">Volver al listado</a>
    </div>
  </form>
</div>
{% endblock %}