{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}


{% block content %}
  <div class="form-card">
    <h2>Inicia sesión</h2>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        <label for="username">Usuario:</label><br>
        <input id="username" name="username" type="text" required class="form-control">
      </div>

      <div style="margin-top: 10px;">
        <label for="password">Clave:</label><br>
        <input id="password" name="password" type="password" required class="form-control">
      </div>

      <div style="margin-top: 15px;">
        <button type="submit" class="btn">Ingresar</button>
      </div>
    </form>

    {% if error %}
      <p style="color: red; margin-top: 10px;">{{ error }}</p>
    {% endif %}

    <hr style="margin: 20px 0;">

    <p style="text-align: center; font-size: 14px;">
      ¿No tienes una cuenta?
      <a href="{% url 'loginregistro'%}" style="color: #ff2121ff; text-decoration: none;">
        Regístrate aquí
      </a>
    </p>
  </div>
{% endblock %}



