{% extends "base.html" %}
{% block title %}Registrar equipo{% endblock %}
{% block content %}

<div class="form-card">
  <h2>Registrar nuevo equipo</h2>

  <form method="post">
    {% csrf_token %}
    <label for="nombre">Cliente:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="tipo">Tipo de equipo:</label>
    <input type="text" id="tipo" name="tipo" required>

    <label for="problema">Problema informado:</label>
    <textarea id="problema" name="problema" required></textarea>

    <button type="submit" class="btn">Registrar</button>
  </form>

  {% if mensaje %}
    <div 
      {% if mensaje_tipo == "success" %} style="color: green; font-weight: bold; margin-top: 15px;"
      {% elif mensaje_tipo == "warning" %} style="color: orange; font-weight: bold; margin-top: 15px;"
      {% elif mensaje_tipo == "error" %} style="color: red; font-weight: bold; margin-top: 15px;"
      {% endif %}
    >
      {{ mensaje }}
    </div>
  {% endif %}

  <a class="btn" href="{% url 'listado_equipos' %}">Listado de Registros</a>
</div>

{% endblock %}