{% extends "base.html" %}
{% block title %}Registrar equipo{% endblock %}
{% block content %}

<div class="form-card">
  <h2>Registrar nuevo equipo</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn">Registrar</button>
  </form>

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div 
          {% if message.tags == "success" %}style="color: green; font-weight: bold;"
          {% elif message.tags == "error" %}style="color: red; font-weight: bold;"
          {% endif %}
        >
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <a class="btn" href="{% url 'listado_equipos' %}">Listado de Registros</a>
</div>

{% endblock %}
